/* projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  color: black;
}
.projects .titleContainer {
  margin-inline: auto;
}
.projects .cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.projects .card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
}
.projectContent {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  padding-right: 1rem;
  grid-template-areas:
    "img title title"
    "img description description"
    "img chips button";
  align-items: center;
  gap: 1rem;
}
.projectImg {
  grid-area: img;
  height: auto;
  width: 100%;
  max-width: 35rem;
  pointer-events: none;
  align-self: flex-start;
  border-radius: 1rem;
}
.projectTitle {
  grid-area: title;
  font-size: var(--font-medium);
  margin: 0;
  padding: 1rem 0;
}
.newWindow {
  grid-area: button;
  width: fit-content;
  justify-self: flex-end;
}
.chips {
  grid-area: chips;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.chipsTitle {
  font-size: var(--font-smaller);
}
.chip {
  color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
}
.projectContent .description {
  grid-area: description;
  margin-inline: 0;
  max-width: 40rem;
  text-align: left;
  font-size: var(--font-smaller);
}
@media only screen and (max-width: 900px) {
  .projects {
    margin-top: 1rem;
  }
  .projects .card {
    border-radius: 0;
  }
  .projects .cards {
    gap: 5rem;
  }
  .projectContent {
    grid-template-columns: 1fr;
    padding-right: 0;
    grid-template-areas:
      "img"
      "title"
      "description"
      "chips"
      "button";
  }
  .projectImg {
    max-width: calc(100% - 2rem);
    align-self: center;
    justify-self: center;
  }
  .projectTitle {
    padding-left: 1rem;
  }
  .projectContent .description {
    padding-inline: 1rem;
  }
  .chips {
    padding-left: 1rem;
  }
  .projectContent .newWindow {
    margin-left: 1rem;
    justify-self: flex-start;
  }
}
