html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Blinker";
  src: url("fonts/Blinker-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Blinker";
  src: url("fonts/Blinker-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Blinker";
  src: url("fonts/Blinker-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Blinker", sans-serif;
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
:root {
  --color-font: #000000;
  --color-main: #024de6;
  --color-secondary: #9cbdec;
  --color-tertiary: #190087;
  --color-background: #c4e3fd;
  --font-smaller: 1.1rem;
  --font-small: 1.2rem;
  --font-medium: 1.3rem;
  --font-large: 1.5rem;
  --font-xlarge: 2rem;
}
@media only screen and (min-width: 700px) {
  :root {
    --font-smaller: 1.2rem;
    --font-small: 1.3rem;
    --font-medium: 1.5rem;
    --font-large: 2.4rem;
    --font-xlarge: 3rem;
  }
}
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-background);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-font);
  border-radius: 1rem;
}
a {
  color: var(--color-main);
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
p {
  font-size: var(--font-smaller);
  margin: 0;
  text-align: left;
  max-width: 60rem;
  margin-inline: auto;
}
.button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: var(--color-main);
  border-radius: 1rem;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-smaller);
  font-family: "Blinker", sans-serif;
  padding: 0.5rem 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  border: none;
  transition: 0.3s background-color, 0.3s color;
  border: 1px transparent solid;
}
.button:hover {
  border-color: var(--color-main);
  background-color: var(--color-tertiary);
}
.title {
  margin: 2rem 0;
  font-size: var(--font-large);
  font-weight: 600;
}
.titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* Header */
header {
  display: flex;
  position: sticky;
  top: 1rem;
  margin-inline: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-tertiary);
  height: 50px;
  justify-content: space-between;
  padding: 5px;
  padding-right: 1rem;
  align-items: center;
  color: white;
}
.logo {
  width: 1.8rem;
  height: 1.8rem;
}
.navBar {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
  border-radius: 1.2rem;
  padding-left: 1rem;
  padding-right: 5px;
  background-color: white;
  z-index: 50;
}
.anchorItem {
  text-decoration: none;
  font-size: var(--font-smaller);
  color: black;
  font-weight: 600;
  font-style: normal;
  transition: color 0.3s;
}
.anchorItem:hover {
  color: var(--color-main);
}
.navMobile {
  display: none;
}
.author {
  display: flex;
  align-items: center;
  font-size: var(--font-small);
  gap: 0.5rem;

  font-weight: normal;
}
.logoMobileContainer {
  display: none;
}
@media only screen and (max-width: 1000px) {
  header {
    margin-inline: 0;
    justify-self: center;
    justify-content: flex-start;
    padding: 0;
    padding-right: 3rem;
    height: 4rem;
    text-align: left;
    gap: 0.5rem;
    top: 0rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: calc(100% - 3.5rem);
    background-color: white;
    color: black;
  }
  .logo {
    width: 2rem;
    height: 2rem;
  }
  .author {
    width: 85%;
  }
  .navBar {
    display: none;
  }
  .logoMobileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 4rem;
  }
  .navMobile {
    display: block;
    position: fixed;
    right: 0;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem 0px 0px 3rem;
    padding-left: 0.5rem;
    gap: 5px;
    position: relative;
    transition: background-color 0.5s;
  }
  .navMobile input {
    display: none;
  }
  .hamburger span {
    display: block;
    width: 27px;
    height: 4px;
    background: var(--color-main);
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .hamburger span:nth-child(1) {
    transform-origin: 0% 0%;
  }
  .hamburger span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(1) {
    opacity: 1;
    transform: rotate(45deg);
    background-color: var(--color-main);
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--color-main);
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    width: 6rem;
    top: 5rem;
    right: 0;
    border-radius: 2rem 0 0 2rem;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 100% 0%;
    transform: translate(110%, 0%);
    background-color: white;
    transition: transform 0.4s;
    overflow: clip;
    gap: 0.5rem;

    padding: 1rem 0;
  }
  .menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-font);
    transition: color 0.3s ease;
    width: 5rem;
    height: 4rem;
    font-size: var(--font-smaller);
    font-weight: 600;
  }
  .menu li a svg {
    width: 2rem;
  }
  .iconFill {
    fill: var(--color-font);
  }
  .iconStroke {
    stroke: var(--color-font);
  }
  .navMobile input:checked ~ .menu {
    transform: none;
  }
}
